@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


fomrTest {
  display: flex;
  flex-direction: column;
  align-items: center; /* Optional: Center the form horizontally */
  justify-content: center; /* Optional: Center the form vertically */
  min-height: 100vh; /* Optional: Make the container at least the height of the viewport */
 
}

